<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <button class="btn btn-lg btn-outline-primary" (click)="openLoginModal()">
      Iniciar Session
    </button>
  </li>
  <li ngbNavItem>
    <button class="btn btn-lg btn-outline-primary" (click)="openRegistrationModal()">
      Registrarse
    </button>
  </li>
</ul>


<!-- <button class="btn btn-lg btn-outline-primary" (click)="Regis()">
        <a style="text-decoration:none" routerLink="/registro">Registrarse</a>
      </button> -->

