<div class="d-flex p-2 flex-row justify-content-center">

  <div class="m-2">
    <button class="btn btn-lg btn-primary" (click)="null">
      Inicio
    </button>
  </div>
  <div class="m-2">
    <button class="btn btn-lg btn-primary" (click)="null">
      Contacto
    </button>
  </div>
  <div class="m-2">
    <button class="btn btn-lg btn-primary" (click)="null">
      Juegos
    </button>
  </div>
  <div class="m-2">
    <div *ngIf="authService.isLogged()">
      <button class="btn btn-lg btn-primary" (click)="logOut()">
        Cerrar sesión
      </button>
    </div>
    <div *ngIf="!authService.isLogged()">
      <button class="btn btn-lg btn-primary" (click)="openLoginModal()">
        Iniciar Sesión
      </button>
    </div>
  </div>
  <div class="m-2">
    <button class="btn btn-lg btn-primary" (click)="openRegistrationModal()">
      Registrarse
    </button>
  </div>
  <div *ngIf="this.authService.getUserRole() === 'ROLE_ADMIN'" class="m-2">
    <button class="btn btn-lg btn-secondary">
      <a routerLink="/admin" routerLinkActive="active">Admin</a>
    </button>
  </div>
</div>


