<div *ngIf="((control.invalid && (control.dirty || control.touched)) || submit ) && control.errors" class="alert alert-danger">
  <div *ngIf="control.errors?.['required']">
    Campo requerido.
  </div>
  <div *ngIf="!control.errors?.['required']">
    <div *ngIf="control.errors?.['minlength']">
      Debe tener al menos {{ control.errors['minlength'].requiredLength }} caracteres.
    </div>
    <div *ngIf="control.errors?.['invalidEmail']">
      Correo electrónico no válido.
    </div>
    <div *ngIf="control.errors?.['correctNumber']">
      El número de teléfono no es correcto.
    </div>
    <div *ngIf="control.errors?.['passwordConfirmed']">
      Las contraseñas no coinciden.
    </div>
    <div *ngIf="control.hasError('emailAlreadyExists')">
      Ya existe un usuario con este email.
    </div>

    <div *ngIf="control.hasError('usernameAlreadyExists')">
      Ya existe un usuario con ese nombre.
    </div>
    <div *ngIf="control.hasError('telephoneAlreadyExists')">
      Ya existe un usuario con ese teléfono.
    </div>
  </div>
</div>
