<div class=" bg-dark text-white text-center p-2 ">
		<h4 class="modal-title">Usuario nuevo</h4>
</div>
<form novalidate [formGroup]="userForm">
	<div class="modal-body bg-secondary">
    <div class="row">
      <div class="form-group col-md-6">
        <label>Nombre</label>
        <input type="text" class="form-control mt-1" formControlName="name" placeholder="Nombre">
        <app-validator-errors [control] = "name" [submit]="submit"></app-validator-errors>
      </div>
      <div class="form-group col-md-6">
        <label>Apellidos</label>
        <input type="text" class="form-control mt-1" formControlName="surname" placeholder="Apellidos">
        <app-validator-errors [control] = "surname" [submit]="submit"></app-validator-errors>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6 ">
        <label>Nombre de usuario</label>
        <input type="text" class="form-control mt-1" formControlName="username" placeholder="Nombre de usuario">
        <app-validator-errors [control] = "username" [submit]="submit"></app-validator-errors>
      </div>
      <div class="form-group col-md-6 ">
        <label>Correo electrónico</label>
        <input type="tel" class="form-control mt-1" formControlName="email" placeholder="Correo electronico">
        <app-validator-errors [control] = "email" [submit]="submit"></app-validator-errors>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label>Contraseña</label>
        <input type="password" class="form-control mt-1" formControlName="password" placeholder="Contraseña">
        <app-validator-errors [control] = "password" [submit]="submit"></app-validator-errors>
      </div>
      <div class="form-group col-md-6">
        <label>Repetir contraseña</label>
        <input type="password"   class="form-control mt-1" formControlName="passwordRepeated" placeholder="Repetir contraseña">
        <app-validator-errors [control] = "passwordRepeated" [submit]="submit"></app-validator-errors>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label>Teléfono</label>
        <input type="tel" class="form-control mt-1" formControlName="telephone" placeholder="Teléfono">
        <app-validator-errors [control] = "telephone" [submit]="submit" ></app-validator-errors>
      </div>
    </div>
	</div>
  <div class="modal-footer bg-dark ">
      <button type="submit" class="btn btn-primary" (click)="onSubmit()">Registrarse</button>
      <button type="button" class="btn btn-danger" (click)="modalRef.close()">Cancelar</button>
  </div>
</form>




