
  .calendar {
    background: black;
    color: white;
    width: 100%;
    max-width: 350px;
    /* border-radius: 20px; */
    padding: 20px;
    border: solid 4px black;
  }

  .arrow{
    width: 35%;
    text-align: center;
  }

  .pointer:hover{
    cursor: pointer;
  }

  .calendar_title{
    width: 15%;
    text-align: center;
  }


  .weekDay{
    width: 14.2%;
  }
